.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    gap: 0.3rem;
}

.button {
    padding: 1rem 0;
    border-radius: 2px;
    cursor: pointer;
}